language: go
go:
    - 1.6

services:
    - postgresql
    - redis-server

env:
    - BUS_API_ADDR=":8000" BUS_DB_ADDR="localhost:5432" BUS_DB_USER="postgres" BUS_DB_NAME="postgres" BUS_REDIS_ADDR="localhost:6379" BUS_LOAD_FOREVER="false" BUS_GTFS_URLS="http://web.mta.info/developers/data/nyct/subway/google_transit.zip,http://web.mta.info/developers/data/nyct/bus/google_transit_brooklyn.zip" BUS_ROUTE_FILTER="G,L,B62,B32,B43"

before_script: psql -U $BUS_DB_USER -d $BUS_DB_NAME < schema/schema.sql

script: go test -v ./
