language: go
go:
    - 1.6

addons:
  postgresql: "9.4"

services:
  - postgresql
  - redis-server

env:
  - BUS_API_ADDR=":8000" BUS_DB_ADDR="localhost:5432" BUS_DB_USER="postgres" BUS_DB_NAME="postgres" BUS_REDIS_ADDR="localhost:6379" BUS_LOAD_FOREVER="false" BUS_GTFS_URLS="http://pub.brnstz.com.s3-website-us-east-1.amazonaws.com/bus/testdata/google_transit.zip,http://pub.brnstz.com.s3-website-us-east-1.amazonaws.com/bus/testdata/google_transit_brooklyn.zip" BUS_ROUTE_FILTER="G,L,B62,B32,B43"

before_script:
  - find migrations -type f -name '*.sql' | sort -tV -n -k2,2 | xargs cat | psql -U $BUS_DB_USER -d $BUS_DB_NAME 

script: 
  - go test -v .
