#!upstart

description "Bus Loader"

console log

env BUS_GTFS_URLS="{% for url in gtfs_urls %}{{ url }}{% if not loop.last %},{% endif %}{% endfor %}"
env BUS_ROUTE_FILTER="{% for rf in route_filter %}{{ rf }}{% if not loop.last %},{% endif %}{% endfor %}"
env BUS_LOAD_FOREVER="{{ load_forever }}"
env BUS_NJTRANSIT_FEED_USERNAME="{{ njtransit_feed_username }}"
env BUS_NJTRANSIT_FEED_PASSWORD="{{ njtransit_feed_password }}"
env TMPDIR="/tmp/busloader"
env BUS_DB_ADDR="{{ db_write_addr }}"
env BUS_DB_USER="{{ db_user }}"
env BUS_DB_PASSWORD="{{ db_password }}"

exec start-stop-daemon --start --make-pidfile --pidfile /var/run/busloader.pid --exec {{ busloader_bin_path }} --user {{ busloader_user }}
