#!upstart

description "Bus Precache"

console log

env BUS_AGENCY_IDS="{{ agency_ids }}"
env BUS_MTA_BUSTIME_API_KEY="{{ mta_bustime_api_key }}"
env BUS_MTA_DATAMINE_API_KEY="{{ mta_datamine_api_key }}"
env BUS_DB_ADDR="{{ db_read_addr }}"
env BUS_DB_USER="{{ db_user }}"
env BUS_DB_PASSWORD="{{ db_password }}"
env BUS_REDIS_ADDR="{{ redis_addr }}"

exec start-stop-daemon --start --make-pidfile --pidfile /var/run/busprecache.pid --exec {{ busprecache_bin_path }} --user {{ busprecache_user }}
