# hacky config to use for now

# trust local unix connections, assumes secure box
local   all     all        trust

# trust all network connections, assumes secure LAN
host    all     all 0.0.0.0/0 trust
