check process busprecache with pidfile /var/run/busprecache.pid
    start program = "/usr/sbin/service busprecache start"
    stop program = "/usr/sbin/service busprecache stop"

check process redis-server with pidfile /var/run/redis/redis-server.pid
    start program = "/usr/sbin/service redis-server start"
    stop program = "/usr/sbin/service redis-server stop"
