body {
	padding-top: 5px;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 300px; 
}

.headsign { 
    font-size: 10px;
    font-weight: bold;
}

#results {
    padding-top: 5px;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}
#rowroute {
    vertical-align: middle;
}
