body {
    padding-top: 0.5vh;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 49vh;
    width: 49vh;
    margin: 0 auto;
}

.headsign { 
    font-size: 10px;
    font-weight: bold;
}

#results {
    padding-top: 0.5vh;
    height: 49vh;
    width: 49vh;
    overflow: scroll;
    margin: 0 auto;
}

#results::-webkit-scrollbar {
    display: none;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}
#rowroute {
    vertical-align: middle;
}
