body {
    padding-top: 0.5vh;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 49vh;
    width: 100%;
    margin: 0 auto;
}

table.results {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table.results td {
    height: 40px;
    padding-left: 10px;
}

table.results tr {
    margin: 5px;
}

#results {
    padding-top: 0.5vh;
    height: 49vh;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
}

#results::-webkit-scrollbar {
    display: none;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}

/* the actual stop */
tr.stoprow td {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;

    padding-top: 10px;
    padding-bottom: 10px;
}

tr.stopgrouprow td {
    padding-top: 5px;
    padding-bottom: 5px;
}

tr.stoprow span.headsign {
    font-size: 14px;
    text-transform: uppercase;
}

.sgdir {
    width: 15%;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.routenames {
    font-size: 18px;
}

.stopname {
    font-size: 10px;
    text-transform: uppercase;
}

.sgroutes {
    width: 60%; 
    overflow: hidden;
    white-space: nowrap;
    font-size: 8px;
}

.sgmin {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

#loading {
    position: absolute;
    top:  25%;
    left: 50%;

    margin-top:  -35px;
    margin-left: -35px;

    z-index: 1000;
}

.btn-bus {
    padding: 5px;
}

/* originally stolen from: 
	https://www.mapbox.com/mapbox.js/example/v1.0.0/custom-popup-style/
*/


.leaflet-popup * {
	background:rgba(0,0,0,0);
	border:none;
	box-shadow: none;
	/*background:red;*/
}

/*
.busmap .leaflet-popup-content-wrapper,.leaflet-popup {
	color:#000;
	font-size: 12px;
}

.busmap .leaflet-popup-content-wrapper a {
	color:rgba(0,0,0,0);
}

.busmap .leaflet-popup-tip-container {

	color:rgba(0,0,0,0);
	width:30px;
	height:15px;
}

.busmap .leaflet-popup-tip {
	color:rgba(0,0,0,0);
	border-left:15px solid transparent;
 	border-right:15px solid transparent;
	border-top:15px solid #2c3e50;
}
*/
