body {
    padding-top: 0.5vh;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 49vh;
    width: 100%;
    margin: 0 auto;
}

table.results {
    width: 100%;
    table-layout: fixed;
}

table.results td {
    height: 40px;
    padding-left: 10px;
}

#results {
    padding-top: 0.5vh;
    height: 49vh;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
}

#results::-webkit-scrollbar {
    display: none;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}

/* the actual stop */
tr.stoprow td {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}

tr.stoprow span.headsign {
    font-size: 14px;
}

tr.stoprow_selected {
    opacity: 0.9
}

tr.stoprow_unselected {
    opacity: 0.8
}

/* the stop group */
tr.stopgrouprow_selected {
    opacity: 1.0
}

tr.stopgrouprow_unselected {
    opacity: 1.0
}


.sgdir {
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.routenames {
    font-size: 18px;
}

.stopname {
    font-size: 12px;
    text-transform: uppercase;
}

.sgroutes {
    width: 65%; 
    overflow: hidden;
    white-space: nowrap;
    font-size: 8px;
}

.sgmin {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

#loading {
    position: absolute;
    top:  25%;
    left: 50%;

    margin-top:  -35px;
    margin-left: -35px;

    z-index: 1000;
}

/* originally stolen from: 
	https://www.mapbox.com/mapbox.js/example/v1.0.0/custom-popup-style/
*/

.busmap .leaflet-popup-content-wrapper {
	background:#2c3e50;
	color:#fff;
	font-size: 12px;
}

.busmap .leaflet-popup-content-wrapper a {
	color:rgba(255,255,255,0.5);
}

.busmap .leaflet-popup-tip-container {
	width:30px;
	height:15px;
}

.busmap .leaflet-popup-tip {
	border-left:15px solid transparent;
 	border-right:15px solid transparent;
	border-top:15px solid #2c3e50;
}
