body {
    padding-top: 0.5vh;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 49vh;
    width: 100%;
    margin: 0 auto;
}

.headsign { 
    font-size: 10px;
    font-weight: bold;
}

#results {
    padding-top: 0.5vh;
    height: 49vh;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
}

#results::-webkit-scrollbar {
    display: none;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}
#rowroute {
    vertical-align: middle;
}

.dimtext {
	width:		  100%;

	margin-top:   30px;
	margin-left:  auto;
	margin-right: auto;

	text-align:  center;
	font-size:   25px;
	color: 		 #ccc;
}

.dim {
	position: fixed;
	padding:  0;
	margin:   0;

	top:  0;
	left: 0;

	width:		100%;
    height:		100%;
	background:	rgba(0, 0, 0, 0.5);
	
	z-index: 1000;

    visibility: hidden;
}

/* originally stolen from: 
	https://www.mapbox.com/mapbox.js/example/v1.0.0/custom-popup-style/
*/

.busmap .leaflet-popup-content-wrapper {
	background:#2c3e50;
	color:#fff;
	font-size: 12px;
}

.busmap .leaflet-popup-content-wrapper a {
	color:rgba(255,255,255,0.5);
}

.busmap .leaflet-popup-tip-container {
	width:30px;
	height:15px;
}

.busmap .leaflet-popup-tip {
	border-left:15px solid transparent;
 	border-right:15px solid transparent;
	border-top:15px solid #2c3e50;
}
