body {
    padding-top: 0.5vh;
    font-family: 'Lato', sans-serif;
}

#map { 
	height: 49vh;
    width: 100%;
    margin: 0 auto;
}

.headsign { 
    font-size: 10px;
    font-weight: bold;
}

table.results {
    width: 100%;
    table-layout: fixed;
}

table.results td {
    height: 40px;
    padding-left: 10px;
}

tr.stoprow td.pad {
    background-color: '#ffffff'
}

tr.stoprow td {
    /*padding-left: 30px; */
    overflow: hidden;
    white-space: nowrap;
}

#results {
    padding-top: 0.5vh;
    height: 49vh;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
}

#results::-webkit-scrollbar {
    display: none;
}

#results tr {
    cursor: pointer;
}

#geolocate {
    margin-bottom: 5px;
}

#refresh {
    margin-bottom: 5px;
}

.stop {

}

.sgdir {
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.routenames {
    font-size: 14px;
}

.stopname {
    font-size: 10px;
    text-transform: uppercase;
}

.sgroutes {
    width: 65%; 
    overflow: hidden;
    white-space: nowrap;
    font-size: 8px;
}

.sgmin {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

#loading {
    position: absolute;
    top:  25%;
    left: 50%;

    margin-top:  -35px;
    margin-left: -35px;

    z-index: 1000;
}

/* originally stolen from: 
	https://www.mapbox.com/mapbox.js/example/v1.0.0/custom-popup-style/
*/

.busmap .leaflet-popup-content-wrapper {
	background:#2c3e50;
	color:#fff;
	font-size: 12px;
}

.busmap .leaflet-popup-content-wrapper a {
	color:rgba(255,255,255,0.5);
}

.busmap .leaflet-popup-tip-container {
	width:30px;
	height:15px;
}

.busmap .leaflet-popup-tip {
	border-left:15px solid transparent;
 	border-right:15px solid transparent;
	border-top:15px solid #2c3e50;
}
